body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(#ff000070, #ff00ff70, #0000ff70);
    text-align: center
}

.subsection {
    font-size: 40px;
    text-decoration-line: underline;
}

br{
    margin-bottom: 16px;
}

img {
    image-resolution: 600 dpi;
    margin: auto;
}

.lists {
    font-size: 32px;
    background: #77dd77;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-style: solid;
    border:10px solid #FDFD96 ;
}

.title {
    text-align: center;
    font-size: 75px;
    color: white;
    background-image: url(Images/title-bg.jpg);
    width: fit-content;
    padding: 10px;
    margin: 20px auto;
}

.content {
    font-size: 22px;
    text-align: justify;
}

.return-link {
    font-size: 30px;
    background: red;
    padding: 5px 10px;
    border:5px solid plum;
}

.return-link:hover{
    cursor: pointer;
}

.name{
    display: block;
    background: white;
    width: 320px;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.guide{
    margin: auto;
    width: fit-content;
    min-width: 700px;
    max-width: 1100px;
    background: aquamarine;
    padding: 10px;
    border: 10px solid aqua;
}