body{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(#ff0000, #ff00ff, #0000ff);;
    text-align: center

}

.subsection{
    font-size: 1cm;
    text-decoration-line: underline;
    color: white;
}
img{
    image-resolution: 600 dpi;
}

 button{
     background:black;
     color: white;
     font-size: 0.8cm;
}

.title{
    text-align: center;
    font-size: 1.5cm;
    color: white;
    background-image: url(Images/title-bg.jpg);
    border: yellow;
}



